<h1> Hello User : SIGN IN </h1>

<form method="POST" action="/auth/signin">

 <div>
    <label for="username">Username : </label>
    <input type="username" id="username" name="username" value="/" />
  </div>


<div>
    <label for="email">Email : </label>
   <input type="text" id="email" name="email" value=""/>
</div>
  
   <div>
    <label for="password">Password : </label>
    <input type="password" id="password" name="password" value="/" />
  </div>
  <button>Sign in!</button>

</form>